@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/css/homecss/footersection.css');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /*overflow: hidden;*/
    /* Hide scrollbars */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F4EBDC;
}


#header {
    height: 20vh;
    width: 100%;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #353839;
}

.header .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
}

.header img {
    width: 110px;
    height: 90px;
}

.header h1 {
    font-size: 50px;
    font-weight: 800;
    color: #F4EBDC;
    letter-spacing: 5px;
}

nav {
    height: 100%;
    width: 60%;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #F4EBDC;
    transition: all 0.3s ease 0s;
    font-weight: 300;
}

nav ul li a:hover {
    font-weight: 800;
    font-size: 20px;
}

.dropdown {
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-weight: 300;
    font-size: 16px;
    border: none;
    outline: none;
    color:#F4EBDC;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown i{
      font-size:15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color:#F4EBDC;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*section 1*/
section#firstsection {
    height: 130vh;
    width: 100%;
    display: flex;
   flex-flow: column;

}

.textarea {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    height: 70%;
    width: 100%;
    display: flex;
    background-color: #0000;
}

.product-box-2 {
    width: 35%;
    height: 100%;
    background-color: #F4EBDC;
    color: #353839;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.product-box-2-textarea1 {
    height:30%;
    width:85%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.product-2-text {
    color: #353839;
    font-size: 30px;
}

.cpu-textarea {
    width: 75%;
}

.slideshow {
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: cycleImages 10s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 21s infinite;

}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 5s;
}

.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.7);
    color: #F4EBDC;
    padding: 2rem 6rem;
}

.slideshow-item-text h5 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text p {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.slideshow a{
    align-self: flex-end;
    width:120px;
    height:18px;
    border-radius:30px;
    text-align: center;
    padding:12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:500;
    color:#353839;
    transition:all 0.3s ease 0s;
}

.slideshow a:hover{
    font-weight:800;
    color:#F4EBDC;
    background-color:#353839;
    transform: scale(1.2);
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}
